
section{
    margin-top: 30px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section p{
    font-size: 20px;
    color: rgb(98, 73, 36);
    text-align: center;
}

