
section{
    display: flex;
    justify-content: center;

}
body section table{
    width: 500px;   
    padding: 0;
    background-color: bisque;
}
section table #MaCa{
    align-items: center;
    margin: 15px;
    padding: 15px;
}
section table #MaCa a{ 
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    
    
}
section table #MaCa:hover{
    background-color: azure;
}


